


@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

*{
   margin: 0px;
   color: #423F3F;
   font-family: 'Roboto', sans-serif;
}

.geologica{
    font-family: 'Geologica', sans-serif;
}

#main__header{
    padding-inline: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px -5px 10px black;
    position: sticky;
    top: 0;
    height: 40px;
    backdrop-filter:  saturate(180%) blur(10px);;
}

#descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    text-align: center;
}

#descripcion > h1{
    font-family: 'Tilt Prism', cursive;
}

.introduccion{
    width: 70%;
    text-align: left;
    margin: 40px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 20px auto;
    padding: 10px;
}

.contenedor-tarjetas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.tarjetas{
    border-radius: 25px;
    height: 180px;
    background-color: #020719;
    
}

.tarjeta-grande{
    grid-row: 1 / span 2;
    height: 100%;
}

.contenedor-descargas{
    width: 100%;
    height: 300px;
    border-radius: 25px;
    margin-top: 20px;
    background-color: #020719;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contenedor-titulo{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.titulo-desc{
    margin: 20px;
}

.titulo-desc > h3{
    color: white;
}

#separador{
    display: inline-block;
    content: "";
    background: linear-gradient(#F9ADFF,#B94DFF);
    width: 80%;
    height: 2px;
    margin-bottom: 10px;
    margin-top: 0;
}

.descripcion{
    width: 80%;
    color: white;
}

.texto{
    margin: auto;
    padding: 20px;
    
    text-align: center; 
}

.texto > h3{
    font-family: 'Geologica', sans-serif;
    background: linear-gradient(#F9ADFF,#B94DFF);
    -webkit-background-clip: text;
    color: transparent; 
}

#boton-descarga{
    width: 40%;
    height: 30px;
    border-radius: 25px;
    background-color: #F1F8FF;
    
}

a{
    text-decoration: none;
    text-align: center;
}

a > h4{
    padding: 4px;
}
