


@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

*{
   margin: 0px;
   color: #423F3F;
   font-family: 'Roboto', sans-serif;
}

.geologica{
    font-family: 'Geologica', sans-serif;
}

#main__header{
    padding-inline: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px -5px 10px black;
    position: sticky;
    top: 0;
    height: 40px;
    backdrop-filter:  saturate(180%) blur(10px);;
}


#descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    text-align: center;
}

.virtual-logo{
    width: 40%;
}

#descripcion > h1{
    font-family: 'Tilt Prism', cursive;
}

.introduccion{
    width: 70%;
    text-align: left;
    margin: 40px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 20px auto;
    padding: 10px;
}

.contenedor-tarjetas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.tarjetas{
    border-radius: 25px;
    background: rgb(2,0,36);
    
}

.tarjeta-grande{
    grid-row: 1 / span 2;
    height: 512px;
}

.contenedor-descargas{
    width: 100%;
    border-radius: 25px;
    margin-top: 20px;
    padding: 10px 0;
    background-image: linear-gradient(90deg,#EDF4FB, #fff, #EDF4FB);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contenedor-titulo{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.contenedor-desc{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    padding-inline: 10px;
    width: 50%;
    background-color:#c4ebff;
    box-shadow: 0px 0px 10px 4px #e8f4ff;
}

.titulo-desc{
    margin: 0 10px;
}

.separador{
    margin: 10px;
}

.titulo-desc > h3{
    color: black;
}

#separador{
    display: inline-block;
    content: "";
    background: #3e89d4;
    width: 80%;
    height: 2px;
    margin-bottom: 10px;
    margin-top: 0;
}

.descripcion{
    width: 80%;
    color: black;
}



.texto{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.336);
    backdrop-filter:  saturate(200%) blur(10px);
    display: flex;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center; 
}

.texto > h3{
    font-family: 'Geologica', sans-serif;
    background: #FFFFFF;
    -webkit-background-clip: text;
    color: transparent; 
}

#boton-descarga{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 30px;
    border-radius: 25px;
    background-color: #407DCE;
    
}

a, a:active, a:link{
    color:white;
    text-decoration: none;
    text-align: center;
}

a > h4{
    padding: 4px;
}


.img_deg{
    float: left;
    width: 2.5%;
}

.img_deg2{
    float: center;
    width: 80%;
}

.img_deg3{
    float: left;
    width: 10%;
}

.color-textWhite{
    color: #FFFFFF;
}
